
          <!--Navbar-->
<%- include('partials/nav.ejs',{user:user}) %>

         <!--Add post button-->
         
 <div class="container-fluid d-flex justify-content-end">
    <a href="<%=`/user/${user.user_username}/posts/addPost`%>" class="btn btn-primary mx-5">Post</a>
 </div>

<% if(typeof posts!='undefined' && posts.length>0){ %>
    <% posts.forEach((post)=>{ %>
        <div class="card post-card my-5">
            <div class="card-body">
                <h3 class="card-title"><%=post.post_title%></h3>
                
                <p class="card-text"><%=post.post_place%></p>
                <p class="card-text"><%=post.post_desc%></p>
            </div>
        </div>

    <% }) %>

<% } else{ %>
    <div class="card no-post">
        
        <div class="card-body">
            <i class="fas fa-cat fa-5x my-4" ></i>
            <h2 class="card-title"><%=user.user_name%> You have no posts Yet !</h2>
            <p class="card-text">Your posts will appear here</p>
        </div>
    </div>
  <%} %>