
          <!--Navbar-->
<%- include('partials/nav.ejs',{user:user}) %>

         <!--Add post button-->
         
 <div class="container-fluid d-flex justify-content-end">
    <a href="<%=`/user/${user.user_username}/posts/addPost`%>" class="btn btn-primary mx-5">Post</a>
 </div>

<% if(typeof posts!='undefined' && posts.length>0){ %>
    <h3 class="mx-5">Your Posts</h3>
    <% posts.forEach((post)=>{ %>
        <div class="card post-card my-5">
            <div class="card post-user">

                <div class="card-body d-flex flex-row ">
                  <i class="fas fa-user-circle  fa-2x mx-1"></i>
                    <p class="text-light">You</p>
                </div>
            
            </div>
            <div class="card-body">

                <!--Display post data-->
                <h3 class="card-title"><%=post.post_title%></h3>
                <p class="card-text"><%=post.post_place%></p>
                <p class="card-text"><%=post.post_desc%></p>

                <!--Display time diff -->
                <% if(post.timeDiff.dd >= 1){ %>
                    <p class="text-muted"><%=post.timeDiff.dd%> Days ago</p>
                <% }  %>

                <% if(post.timeDiff.hh < 24 && post.timeDiff.hh >= 1){ %>
                    <p class="text-muted"><%=post.timeDiff.hh%> Hours ago</p>
                <% }  %>

                <% if(post.timeDiff.mm < 60 && post.timeDiff.mm >= 1){ %>
                    <p class="text-muted"><%=post.timeDiff.mm%> Minutes Ago</p>
                <% } %>

                <% if(post.timeDiff.ss < 60 && post.timeDiff.ss >= 0){ %>
                    <p class="text-muted"><%=post.timeDiff.ss%> Seconds Ago</p>
                <% } %>

            </div>
        </div>

    <% }) %>

<% } else{ %>
    <div class="card no-post">
        
        <div class="card-body">
            <i class="fas fa-cat fa-5x my-4" ></i>
            <h2 class="card-title"><%=user.user_name%> You have no posts Yet !</h2>
            <p class="card-text">Your posts will appear here</p>
        </div>
    </div>
  <%} %>